#Order by date

In [2]:
import pandas as pd
dados = pd.DataFrame()
datas = ['28/02/2020', '04/03/2020', '07/03/2020']
vendas = [137, 238, 159]
dados['data'] = datas
dados['vendas'] = vendas

In [3]:
dados

         data  vendas
0  28/02/2020     137
1  04/03/2020     238
2  07/03/2020     159

In [5]:
dados.data = pd.to_datetime(dados.data, format='%d/%m/%Y')

In [6]:
dados.sort_values('data')

        data  vendas
0 2020-02-28     137
1 2020-03-04     238
2 2020-03-07     159