In [1]:
import pandas as pd
import numpy as np
data = [[8000, 1000], [9500, np.nan], [5000, 2000]]
df = pd.DataFrame(data, columns=['Salary', 'Others'])
df

   Salary  Others
0    8000  1000.0
1    9500     NaN
2    5000  2000.0

In [2]:
def subtract_federal_tax(df):
    return df * 0.9
def subtract_state_tax(df, rate):
    return df * (1 - rate)
def subtract_national_insurance(df, rate, rate_increase):
    new_rate = rate + rate_increase
    return df * (1 - new_rate)

In [3]:
subtract_national_insurance(
    subtract_state_tax(subtract_federal_tax(df), rate=0.12),
    rate=0.05,
    rate_increase=0.02)

    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12

In [6]:
df.pipe(subtract_federal_tax).pipe(subtract_state_tax, rate=0.12).pipe(subtract_national_insurance, rate=0.05, rate_increase=0.02)

    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12

In [7]:
(
    df.pipe(subtract_federal_tax)
    .pipe(subtract_state_tax, rate=0.12)
    .pipe(subtract_national_insurance, rate=0.05, rate_increase=0.02)
)

    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12

In [8]:
import pandas as pd

def change_age(x):
  x["age"]=[10, 20, 30]
  return x

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)
df.pipe(change_age)
print(df)

    name  age
0  Sally   10
1   Mary   20
2   John   30