In [1]:
import pandas as pd

df = pd.read_csv('historical_projections.csv')
df.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500,0.229967
3,Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533,0.295850
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583,0.409100

LOC

In [3]:
df.loc[5]

Player           Dakari Johnson
Position                      C
ID               dakari-johnson
Draft Year                 2015
Projected SPM          0.491787
Superstar              0.021341
Starter                0.367544
Role Player            0.417572
Bust                   0.193544
Name: 5, dtype: object

In [4]:
df.loc[[0,1,2]]

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500,0.229967

In [ ]:
df2.loc[[‘Karl-Anthony Towns’, ‘Stanley Johnson’, ‘D`Angelo Russell’], [‘Position’, ‘ID’]]