In [1]:
series = {
'index ':[0 , 1, 2, 3],
'data ':[145 , 142, 38, 13],
'name ':'songs '
}

In [2]:
series

{'index ': [0, 1, 2, 3], 'data ': [145, 142, 38, 13], 'name ': 'songs '}

In [3]:
def get(series , idx ):
    value_idx = series['index ']. index(idx)
    return series['data '][ value_idx]

In [4]:
get(series , 1)

142

In [5]:
songs = {
'index ':['Paul ', 'John ', 'George ', 'Ringo '],
'data ':[145 , 142, 38, 13],
'name ':'counts '
}

def get(series , idx ):
    value_idx = series['index ']. index(idx)
    return series['data '][ value_idx]

get(songs , 'John ')

142

In [6]:
import pandas as pd
songs2 = pd.Series ([145 , 142, 38, 13],
name='counts ')

In [7]:
songs2

0    145
1    142
2     38
3     13
Name: counts , dtype: int64

In [8]:
import pandas as pd
songs2 = pd.Series ([145 , 142, 38, 13],
name='counts ')

In [9]:
songs2

0    145
1    142
2     38
3     13
Name: counts , dtype: int64

The NaN value

In [10]:
import numpy as np
nan_series = pd.Series ([2, np.nan],
index =['Ono ', 'Clapton '])

In [11]:
nan_series

Ono         2.0
Clapton     NaN
dtype: float64

In [13]:
nan_series2 = pd.Series ([2, None],
index =['Ono ', 'Clapton '],
dtype='Int64')

In [14]:
nan_series2

Ono            2
Clapton     <NA>
dtype: Int64

Similar to NumPy

In [16]:
import numpy as np
numpy_ser = np.array ([145 , 142, 38, 13])

In [17]:
numpy_ser [1]

142

Categorical Data

In [19]:
s = pd.Series (['m', 'l', 'xs ', 's', 'xl '], dtype='category')

In [20]:
s

0      m
1      l
2    xs
3      s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl ', 'xs ']

In [21]:
s2 = pd.Series (['m', 'l', 'xs ', 's', 'xl '])
size_type = pd.api.types. CategoricalDtype (
categories =['s','m','l'], ordered=True)
s3 = s2.astype(size_type)

In [22]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [23]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

4.8 Exercises
1. Using Jupyter, create a series with the temperature values for the last seven days. Filter out
the values below the mean.
2. Using Jupyter, create a series with your favorite colors. Use a categorical type.