Complete Example For NOT IN Filter
#https://sparkbyexamples.com/pandas/not-in-filter-in-pandas/

In [2]:
import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark", "PySpark", "Hadoop", "Python", "Pandas"],
    'Fee' :[22000, 25000, 23000, 24000, 26000],
    'Discount':[1000, 2300, 1000, 1200, 2500],
    'Duration':['35days', '35days', '40days', '30days', '25days']
              }
df = pd.DataFrame(technologies)
print(df)

# Filter single column Use NOT IN filter
list_values = ["Hadoop", "Python"]
df2 = df[~df['Courses'].isin(list_values)]
print(df2)

   Courses    Fee  Discount Duration
0    Spark  22000      1000   35days
1  PySpark  25000      2300   35days
2   Hadoop  23000      1000   40days
3   Python  24000      1200   30days
4   Pandas  26000      2500   25days
   Courses    Fee  Discount Duration
0    Spark  22000      1000   35days
1  PySpark  25000      2300   35days
4   Pandas  26000      2500   25days

In [3]:
# Filter for rows where the Fee name is not in list
list_values = [23000]
df2 = df[~df['Fee'].isin(list_values)]
print(df2)

   Courses    Fee  Discount Duration
0    Spark  22000      1000   35days
1  PySpark  25000      2300   35days
3   Python  24000      1200   30days
4   Pandas  26000      2500   25days

In [4]:
  # Filter for rows where the Discount name is not in list
list_values = [1000, 2300]
df2 = df[~df['Discount'].isin(list_values)]
print(df2)

  Courses    Fee  Discount Duration
3  Python  24000      1200   30days
4  Pandas  26000      2500   25days

In [5]:
# Use not in filter with multiple column
list_values = ["Spark", "Pandas", 1000]
df2 = df[~df[['Courses', 'Discount']].isin(list_values).any(axis=1)]
print(df2)

   Courses    Fee  Discount Duration
1  PySpark  25000      2300   35days
3   Python  24000      1200   30days

In [6]:
# Filter in Courses and Duration column
list_values = ["PySpark", '30days']
df2 = df[~df[['Courses', 'Duration']].isin(list_values).any(axis=1)]
print(df2)

  Courses    Fee  Discount Duration
0   Spark  22000      1000   35days
2  Hadoop  23000      1000   40days
4  Pandas  26000      2500   25days

In [7]:
# Use numpy with not in filter
list_values = ["PySpark", "Python", 22000]
df2 = df[~np.isin(df["Courses"], list_values)]
print(df2)

  Courses    Fee  Discount Duration
0   Spark  22000      1000   35days
2  Hadoop  23000      1000   40days
4  Pandas  26000      2500   25days