In [1]:
import pandas as pd
technologies = [
            ("Spark", 22000,'30days',1000.0),
            ("PySpark",25000,'50days',2300.0),
            ("Hadoop",23000,'55days',1500.0)
            ]
df = pd.DataFrame(technologies,columns = ['Courses','Fee','Duration','Discount'])
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1500.0

In [2]:
for column in df:
    print(df[column])

0      Spark
1    PySpark
2     Hadoop
Name: Courses, dtype: object
0    22000
1    25000
2    23000
Name: Fee, dtype: int64
0    30days
1    50days
2    55days
Name: Duration, dtype: object
0    1000.0
1    2300.0
2    1500.0
Name: Discount, dtype: float64

In [3]:
for column in df:
    print(df[column].values)

['Spark' 'PySpark' 'Hadoop']
[22000 25000 23000]
['30days' '50days' '55days']
[1000. 2300. 1500.]

In [4]:
for (colname,colval) in df.iteritems():
    print(colname, colval.values)

Courses ['Spark' 'PySpark' 'Hadoop']
Fee [22000 25000 23000]
Duration ['30days' '50days' '55days']
Discount [1000. 2300. 1500.]

C:\Users\Luan Lima\AppData\Local\Temp\ipykernel_23008\3658610266.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname,colval) in df.iteritems():

In [5]:
for name, values in df.iteritems():
   print('{name}: {value}'.format(name=name, value=values[1]))

Courses: PySpark
Fee: 25000
Duration: 50days
Discount: 2300.0

C:\Users\Luan Lima\AppData\Local\Temp\ipykernel_23008\2997700347.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, values in df.iteritems():

In [6]:
for (index, colname) in enumerate(df):
    print(index, df[colname].values)

0 ['Spark' 'PySpark' 'Hadoop']
1 [22000 25000 23000]
2 ['30days' '50days' '55days']
3 [1000. 2300. 1500.]

In [7]:
for (index, column) in enumerate(df):
    print (index, df[column])

0 0      Spark
1    PySpark
2     Hadoop
Name: Courses, dtype: object
1 0    22000
1    25000
2    23000
Name: Fee, dtype: int64
2 0    30days
1    50days
2    55days
Name: Duration, dtype: object
3 0    1000.0
1    2300.0
2    1500.0
Name: Discount, dtype: float64

In [9]:
import numpy as np

In [10]:
for (index, column) in enumerate(df):
    print (index, np.asarray(df[column]))

0 ['Spark' 'PySpark' 'Hadoop']
1 [22000 25000 23000]
2 ['30days' '50days' '55days']
3 [1000. 2300. 1500.]

In [12]:
for column in df.columns[1:]:
    print(df[column])

0    22000
1    25000
2    23000
Name: Fee, dtype: int64
0    30days
1    50days
2    55days
Name: Duration, dtype: object
0    1000.0
1    2300.0
2    1500.0
Name: Discount, dtype: float64

In [13]:
for column in df.columns[::-1]:
    print(df[column])

0    1000.0
1    2300.0
2    1500.0
Name: Discount, dtype: float64
0    30days
1    50days
2    55days
Name: Duration, dtype: object
0    22000
1    25000
2    23000
Name: Fee, dtype: int64
0      Spark
1    PySpark
2     Hadoop
Name: Courses, dtype: object

In [14]:
for indix, column in enumerate(df.columns):
    print(indix, column)

0 Courses
1 Fee
2 Duration
3 Discount

In [15]:
for (column_name, column) in df.transpose().iterrows():
    print (column_name)

Courses
Fee
Duration
Discount